1.md
.DS_Store
.codebuddy/
.gitignore
.workbuddy/
__pycache__/
.venv/
.venv*/
.gitlab/
.idea/
.vscode/
.pytest_cache/
.coverage
.coverage.*
.cache
.tox/
.eggs/
.pytest_cache/
.mypy_cache/
.nox/
.build/
.pytype/
.dub/
.pio/
netease_auth.json
playlist.json
assets/models/htdemucs_6s/*.th
assets/models/htdemucs_6s/model-manifest.json

